<div class="row">

  <h2 mat-dialog-title>Completar cadastro do usuário</h2>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
      <mat-dialog-content class="mat-typography">
        <p>
          <mat-form-field appearance="legacy" class="fullWidth" >
            <mat-label>ID</mat-label>
            <input matInput placeholder="Ensira seu nome" formControlName="id" readonly >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ensira seu nome" formControlName="username" >
          </mat-form-field>
        </p>

      <p>
        <mat-form-field appearance="fill" class="fullWidth">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" required>
          <mat-error></mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" class="fullWidth">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataCadastro" ng-options="{timezone: 'UTC'}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" class="fullWidth">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>

    </mat-dialog-content>
    <div class="btns">
        <button mat-button class="btn-cancelar" routerLink="/usuarios">Cancelar</button>
        <button mat-button class="btn-salvar" cdkFocusInitial>Salvar</button>
    </div>
  </form>
</div>


